<a href="https://colab.research.google.com/github/Pillalamarrivyshnavi/2216155_AIML_Bootcamp_2023/blob/main/Aiml_bootcamp_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#decision making

#if statement
a=450
if a>0:
  print("True")
  print(a)

#if- else statement
b=-3
if b<0:
  print("false")
else:
  print("true")

#nested if
a=int(input("enter age:"))
if(a>0):
  if(a>18):
    print("eigible to vote")
  elif(a<18):
    print("not eligible to vote")
else:
  print("enter valid number")

True
450
false
enter age:4
not eligible to vote

In [18]:
#python loops
n=[1,2,3,4,5,5]
for i in range(1,7): #(1,n-1)
  print(i)
s=0
for j in n:
  s=s+j
print("sum:",s)

for i in range(1,6,3):
  print(i)

1
2
3
4
5
6
sum: 20
1
4

In [20]:
#while loop -used for large data
c=1
while(c<7):
  print(c)
  c=c+1

1
2
3
4
5
6

In [21]:
#nested loop

#nested for
x=[[3,4,5],[4,5,6],[7,8,6]]
y=[[4,8,12],[1,1,0],[5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[7, 12, 17]
[5, 6, 6]
[12, 11, 6]

In [24]:
#nested while loop
n=int(input("enter until which table you need"))
i=1
while(i<=n):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("___________________")
  i=i+1

enter until which table you need3
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
___________________
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
___________________
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
___________________

In [30]:
#control statements

#break
for q in "python":
  if(q=='h'):
    break
  print("current letter",q )
print("______________________________")
#continue
for q in "python":
  if(q=='h'):
    continue
  print("current letter",q)
print("______________________________")
#pass
for q in "python":
  if(q=='h'):
    pass
    print("this ia pass block")
  print("current letter",q)

current letter p
current letter y
current letter t
______________________________
current letter p
current letter y
current letter t
current letter o
current letter n
______________________________
current letter p
current letter y
current letter t
this ia pass block
current letter h
current letter o
current letter n

In [31]:
#functions
def greet(name):
  '''this function greets a person'''
  print("HELLO, \t"+name+ "\t good morning")
greet("vysh")

HELLO, 	vysh	 good morning

In [32]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))

6
12

In [33]:
#keyword
def A(a,b=1,c=2):
    return a+b+c
print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [34]:
#positional
def A(a,b,c):
  return a+b+c
print(A(10,10,20))

40

In [35]:
#arbitrary positional
def add_n(*n):
  print(sum(n))
add_n(1,2,3,4,5)

15

In [37]:
#arbitrary keywords
def key_args(**kwargs):
  return kwargs
m=key_args(Apples=30,Bananas=40,cherries=50)
print(m['Apples'])
print(m)

30
{'Apples': 30, 'Bananas': 40, 'cherries': 50}

In [44]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("hi ,iam HiGHer OrdwR fUnction")
  print(greet)

explain(shout)
explain(whisper)

HI ,IAM HIGHER ORDWR FUNCTION
hi ,iam higher ordwr function