<a href="https://colab.research.google.com/github/Pillalamarrivyshnavi/2216155_AIML_Bootcamp_2023/blob/main/Aiml_bootcamp_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#strings
my_str="Hi Vyshu"
print(my_str.title())
print(my_str.capitalize())
print(my_str.find('y'))  
print(my_str.index("H"))
print(my_str.endswith('u'))

Hi Vyshu
Hi vyshu
4
0
True

In [5]:
#list methods
l=[1,"hi",6.0]
l.append(4)
print(l)
print(l.index('hi'))
l.reverse()
print(l)
l.insert(1,'o')#(index,"char")
print(l)
l2=l.copy()
print(l2)

[1, 'hi', 6.0, 4]
1
[4, 6.0, 'hi', 1]
[4, 'o', 6.0, 'hi', 1]
[4, 'o', 6.0, 'hi', 1]

In [6]:
#tuples
t=(1,4.5,5,8.00 )
t1=(4,"yayy","hello",t)
t2=("hello",1,4,4.5,t1,t)
nt=(3,"joe",t1,t,t2)
print(nt.count('1'))
print(nt[-1][-2][-1][0])
print(max(t))
print(min(t))
print(len(t))

0
1
8.0
1
4

In [7]:
#dictionaries
dict={"name":"vysh","rno":1063}
print(dict.fromkeys("name"))
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.update({"rno":556}))
print(dict.items())

{'n': None, 'a': None, 'm': None, 'e': None}
dict_keys(['name', 'rno'])
dict_values(['vysh', 1063])
dict_items([('name', 'vysh'), ('rno', 1063)])
None
dict_items([('name', 'vysh'), ('rno', 556)])

In [8]:
#sets
s={'k',"yy",7}
set={'u','ol',5,2.8}
s1=set.copy()
print(s1)
print(set.pop())
s2=set.intersection(s1)
print(s2)
set.update('6')
print(set)
print(set.isdisjoint(s))

{5, 2.8, 'u', 'ol'}
5
{2.8, 'u', 'ol'}
{2.8, 'u', '6', 'ol'}
True

In [9]:
c=45
print("Binary number is:",bin(c))
print("Hexadecimal number is:",hex(c))
print("Octal number is:",oct(c))

Binary number is: 0b101101
Hexadecimal number is: 0x2d
Octal number is: 0o55

In [10]:
#arithmetic operators
print("arithmetic operators")
t=(1,4.5,5,8.00 )
a=20
b=2

print(t[1]+b)
print(a-t[3])
print(int(t[-1]/t[-3]))
print(a*b)
print(a**b)
print(t[3]//b)

arithmetic operators
6.5
12.0
1
40
400
4.0

In [11]:
#assignment operators
t=(1,2,3,4,8)
l=[5,7,1]
print(l)
t1=tuple(l)
print(t1)

a=t[-1]
b=t[-2]
c=a/b
c+=a
print(c)

[5, 7, 1]
(5, 7, 1)
10.0

In [12]:
#comparison operators
t=(1,2,3,4,8)
l=[5,7,1]
print(l)
t1=tuple(l)
print(t1)
a=t1[-1]
b=l[2]
print(a==b)
print(a<=b)
print(a>=b)
print(a<<b)
print(a>>b)
print(a!=b)

[5, 7, 1]
(5, 7, 1)
True
True
True
2
0
False

In [13]:
#logical operators-and or not
t=True
f=False
print("t and f is:",t and f)
print("t or f is:",t or f)
print("t not f is:",not f)

t and f is: False
t or f is: True
t not f is: True

In [14]:
#bitwise opearators
a=13  
b=14  

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) #XOr
print(a>>2) #right shift
print(a<<2) #left shift

12
15
-14
3
3
52

In [15]:
#membership operators
a="hey yooo!"
print("o" in a)

True

In [16]:
#identity operators
a1=5
b1=5
a2="yayy"
b2="yayy"
a3=[6,7,8]
b3=[6,7,8]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [23]:
l=[3,7.9,"hello","hii","welcome"]
l1=["python",l]
l2=["program","students",l1,l]
l3=[4,6,3.7,"whattt",l2,l1,l]
print(l3[-3::-2])

[['program', 'students', ['python', [3, 7.9, 'hello', 'hii', 'welcome']], [3, 7.9, 'hello', 'hii', 'welcome']], 3.7, 4]

In [18]:
#reverse the string and prints the 3rd letter starting from the 4th at last(from 0)
print( "A series of characters designated as one object known as a string"[::-1][4::3])
print("-------------")
print( "Welcome to Python traing program"[3:10][::-1])

taawkcbe  tgestrcoeeA
-------------
ot emoc

In [19]:
t="was it acar or a cat I saw"
y=(t[::-1])
print(y.upper())

WAS I TAC A RO RACA TI SAW

In [20]:
X=int(input())
print(X*'Z'+2*X*'O')

5
ZZZZZOOOOOOOOOO

In [21]:
#ord() method would be giving ASCII of a character
c=input("enter value")
print(ord(c))

enter value5
53

In [22]:
#join()
l1=['v','y','s','h']
print("".join(l1))
li=["Hii","I am","Attending","Bootcamp"]
print(" ".join(li))

vysh
Hii I am Attending Bootcamp